<ion-content >
  <ion-card class="product-form">
    <ion-card-content>
      <ion-item>
        <ion-input label="Name" [(ngModel)]="newProduct.productName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Stock" type="number" [(ngModel)]="newProduct.unitInStock"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Unit Price" type="number" [(ngModel)]="newProduct.unitPrice"></ion-input>
      </ion-item>
      <ion-item>
        <!-- <ion-input [(ngModel)]="newProduct.categoryName"></ion-input> -->
        <ion-select label="Category" [(ngModel)]="newProduct.categoryId" name="option">
          <ion-select-option value="64c1c7929a352e4225007b60">Laptop</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="createProduct()">Create</ion-button>
      
    </ion-card-content>
  </ion-card>
  
</ion-content>
